#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #

    # [ Process management and security ]
    chroot      /var/lib/haproxy
   
    daemon     
    user        haproxy
    group       haproxy

    # log <address> <facility> [max level [min level]]
    log         127.0.0.1 local3    notice

    # number of processes when going daemon, by default is 1
    nbproc      1

    pidfile     /var/run/haproxy.pid

    # turn on stats unix socket, for monitoring connection
    stats       socket /tmp/haproxy level admin

    # by default, the stats socket is limited to 10 concurrent connections
    stats       maxconn 20

    # for HA , easily know which server is working
    node        master_loadbalance1

    # add a text that describes the instance
    description srv-alan-haproxy1

    # [ Performance tuning ]
    # sets the maximum per-process number of concurrent connections
    maxconn     65536

    # disables the use of kernel tcp splicing between sockets on Linux to avoid bug
    nosplice

    # - it becomes possible to add
    #   some randomness in the check interval between 0 and +/- 50%. A value between
    #   2 and 5 seems to show good results. The default value remains at 0.
    spread-checks 3

    # [ Debugging ]
    # - Enables debug mode which dumps to stdout all exchanges, and disables forking
    #   into background. It is the equivalent of the command-line argument "-d". It
    #   should never be used in a production configuration since it may prevent full
    #   system startup.
    # debug                    
                               
    # - Do not display any message during startup. It is equivalent to the command-
    #   line argument "-q".
    # quiet

    # [ Userlists ]
    # control access to frontend/backend/listen sections or to http stats by allowing only authenticated and authorized users

       
       
#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    # increase SYN backlog size to protect against SYN flood attacks
    # backlog               <conns>

    # limit visibility of an instance to a certain set of processes numbers, need work with global option "nbproc"
    # bind-process [ all | odd | even | <number 1-32>

    mode                    http
    log                     global

    # enable early dropping of aborted requests pending in queues
    ## reduces the queue size and the load on servers when users are tempted to click on STOP, which in turn reduces the response time for other users
    option abortonclose

    # disallow invail character contained in response header
    no option accept-invalid-http-response

    # load balancing will be performed among all backup servers when all normal ones are unavailable
    ## what's backup servers? What's normal server? difference?NMR
    option allbackups

    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend  www-pool1-80 0.0.0.0:80
    acl url_static       path_beg       -i /static /images /javascript /stylesheetso7

    acl url_static       path_end       -i .jpg .gif .png .css .js

    use_backend static          if url_static
    default_backend     www-pool1-80
    
    # fix the maximum number of concurrent connections on a frontend
    ## should not exceed the global maxconn
    ## size of per connection = two buffers(8kB each) + other data(17kB)
    ## official recommendation : 1GB of RAM can withstand around 40000-50000 concurrent connections
    maxconn 32768

    # set the running mode or protocol of the instance, cover global options
    mode   http

    # add a condition to report a failure to a monitor HTTP request,NMR
    #monitor fail { if | unless } <condition>

    # declare a source network which is limited to monitor requests,NMR
    #monitor-net <source>

    # Intercept a URI used by external components' monitor requests
    #monitor-uri <uri>

    # disallow invail character contained in request header
    no option accept-invalid-http-request

    # enable  the sending of TCP keepalive packets on the client side
    ## what kind of situation should be used? NMR
    #option clitcpka

    

#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------
backend www-pool1-80
    # define the load balancing algorithm to be used in a backend
    balance     roundrobin

    # set a cookie-based persistence
    ## insert & indirect make haproxy transparent to application
    ## insert - add $SERERID into http header
    ## indriect - for clients already have a cookie, haproxy wouldn't add a new one and remove the current one
    ## nocache - if there is cache between client and haproxy, add this option
    ## postonly - NMR
    cookie $SERVERID insert indirect
    
    # change default options for a server in a backend
    ## slowstart - 60s later can run at full speed
    ## rise - after 2 consecutive successful health checks, the server will be considered as operational
    ## fall - after 5 consecutive unsuccessful health checks, the server will be considered as dead
    ## error-limit - 10 consecutive errors triggers option "on-error"
    ## on-error - simulate a failed check, also forces fastinter
    default-server inter 2s fastinter 1s downinter 5s slowstart 60s rise 2 fall 5 error-limit 10 on-error fail-check

    # declare a condition to force persistence on down servers,NMR
    #force-persist { if | unless } <condition>

    # specify at what backend load the servers will reach their maxconn
    fullconn    150000

    # specify a method to use for mapping hashes to servers
    ## map-based - default value, not support slow start, nodes up and down cause inconvience for cache
    ## consistent - support slow start, dynamicly change weight when server is up, less influence on cache, keep server have same ID
    hash-type map-based

    ## move out of pool if give a 404 response, don't affect current persistent connections, any 2xx or 3xx response happens will return back to pool 
    http-check disable-on-404

    # enable emission of a state header with HTTP health checks
    ## name - name of backend/name of server
    ## node - which haproxy
    ## weight - weight of the server/total weight of usable servers
    ## scur - current number of concurrent connections on the server/total number of connections on all servers of the same backend
    ## qcur - current number of requests in the server's queue
    http-check send-state

    # set a persistent ID to a proxy
    id 10

    # declare a condition to ignore persistence
    ## useful to load balance requests for static files
    ## fully disable persistence for a specific User-Agent(for example, some web crawler bots)
    #ignore-persist { if | unless } <condition>

    # enable per-instance logging of events and traffic
    #log <address> <facility> [<level> [<minlevel>]]

    
    server srv-alan-web1_80 10.10.10.1:80 check
    server srv-alan-web2_80 10.10.10.2:80 check

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend app
    balance     roundrobin
    server  app1 127.0.0.1:5001 check
    server  app2 127.0.0.1:5002 check
    server  app3 127.0.0.1:5003 check
    server  app4 127.0.0.1:5004 checkS